form{
    padding-top: 30px;
    padding-left: 20px;
    font-size: large;
}

input[type="checkbox"]
{
    display: none;
}

span{
    color: white;
    border-radius: 20%;
    padding: 5px;
}

span.red{
    background-color: red;
}

span.green{
    background-color: green;
}

span.blue{
    background-color: blue;
}

label{
    text-decoration: underline;
    margin-right: 35px;
    cursor: pointer;
    padding: 5px;
}

label[for="red"]{
    color: red;
}

label[for="green"]{
    color: green;
}

label[for="blue"]{
    color: blue;
}

#red:checked ~ span[class="red"],
#green:checked ~ span[class="green"],
#blue:checked ~ span[class="blue"]
{
    display: none;
}

#red:checked ~ label[for="red"],
#green:checked ~ label[for="green"],
#blue:checked ~ label[for="blue"]
{
    opacity: 0.5;
}
