*{
    margin: 0;
    padding: 0;
}

html{
    background: url("../img/bg.png") repeat left top fixed;
}

.positioner{
    width: 1020px;
    margin: 0 auto;
}

.title{
    text-align: center;
    text-transform: uppercase;
    color: #3170A8;
    padding: 40px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 36px;
    letter-spacing: 0.1em;
}

.title .fword{
    color: #EE8129;
    font-weight: normal;
}

.testimonial-item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
}

.testimonial-item:nth-of-type(2n){
    margin-left: 40px;
}


.photo{
    display: inline-block;
    float: left;
}

.block{
    display: inline-block;
    margin-left: 26px;
    position: relative;
    background: #f7f7f7;
    width: 330px;
    padding: 0 15px;
    border: 1px solid #e0e0e0;
}

.block:before {
    content: "";
    position: absolute;
    border: 15px solid;
    border-color: transparent #f7f7f7 transparent transparent;
    top: 35px;
    right: 100%;
}

.header{
    border-bottom: 1px dotted #666666;
    overflow: hidden;
    font-size: 14px;
    font-style: italic;
    padding: 12px 0 9px 0;
}

.name {
    float: left;
    text-decoration: none;
    color: #3070a8;
}

.name:before {
    content: "- ";
}

.customer {
    margin-right: 5px;
    float: right;
    text-decoration: none;
    color: #3070a8;
}

.comment {
    font-size: 13px;
    color: #666;
    text-align: left;
    line-height: 1.6;
    word-spacing: 0.2em;
    padding: 9px 0;

    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/

    /*/!*white-space: nowrap;*!/*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*height: 50px;*/
    /*text-overflow-multiline:ellipsis;*/
}




