body{
    font-family: Verdana, "Trebuchet MS", Geneva, sans-serif;
    color: #35495A;
}

h2{
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
}

.maincontainer{
    width: 884px;
    margin: 0 auto;
}

.block{
    width: 288px;
    display: inline-block;
    border: 1px solid #c6c6c6;
    border-radius: 6px;
}

.header{
    background: #EE8129;
    border: 2px solid #EE8129;
}
p{
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    color: #3F4042;
}
.header p{
    color: #FFFFFF;
    margin: 20px auto;
}

.price {
    color: #35495A;
    font-size: 65px;
    margin: 10px 0;
    font-weight: bold;
}
.price span{
    letter-spacing: -3px;
}

sub, sup {
    font-size: 18px
}
sub {
    text-transform: none;
}
sup {
    vertical-align: text-top;
}

ul{
    margin: 0 15px 20px;
    color: #888C94;
    list-style-image: url(../img/marker.png);
    list-style-position: inside;
}
ul li{
    margin-left: -40px;
    padding: 7px 0 7px 30px;
    margin-bottom: 1px;
}

li:nth-child(odd) {
    background-color: #EDF5FD;
}

li:nth-child(even) {
    background-color: #F5F5F6;
}

button {
    width: 256px;
    margin: -5px 15px 20px;
    text-transform: uppercase;
    padding: 12px 0;
    color: #FFFFFF;
    background: #EE8129;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.light {
    box-shadow: 0 5px 10px 5px rgba(72, 109, 160, 0.6);
}

button:hover{
    color: #c6c6c6;
    box-shadow: 0 3px 3px 3px rgb(179,86,11);
}

.standart .header {
    background: #2BC2D5;
    border: 1px solid #2BC2D5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ultimate .header {
    background: #00B89A;
    border: 1px solid #00B89A;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.best {
    border: 5px solid #EE8129;
    margin: 0 -3px;
}

.standart button, .ultimate button {
    background: #2F70A8;
}

.standart button, .ultimate button{
    box-shadow: 0 1px 2px 1px rgb(19,66,107);
}

.standart button:hover, .ultimate button:hover {
    box-shadow: 0 2px 2px 2px rgb(19,66,107);
}

.best button {
    margin-bottom: 32px;
    box-shadow: 0 1px 2px 1px rgb(179,86,11);
}

.best button:hover{
    box-shadow: 0 2px 2px 2px rgb(179,86,11);
}

.best .header p {
    padding-top: 3px;
    padding-bottom: 3px;
}
