body, html{
    font-family: Impact, 'Arial Black', 'sans serif';
    font-size: 18px;
    color:  #fff;
    margin:0;
}

.header{
    background: #a64cff;
    overflow: hidden;
}

.positioner{
    width:900px;
    margin:0 auto;
}

.menu{
    list-style-type: none;
    text-transform: uppercase;
    margin: 0;
}

.menu > li{
    float: left;
    padding: 5px 20px;
}

.menu > li:last-child{
    float: right;
    margin-right: -120px;
}

.menu > li:hover{
    background: #eee;
    color: #a0a0a0;
    cursor: pointer;
}