* {
    margin: 0;
    padding: 0;
}
.search {
    font-size: 14px;
    font-family: sans-serif;
    margin: 60px auto;
    width:60%;
    position: relative;
    height: 54px;
    background: linear-gradient(to top, #efbe4d, #feca53);
    min-width: 300px;
}
.search_text {
    outline: none;
    border: none;
    width: calc(100% - 115px);
    height: 26px;
    margin: 5px 0 2px 4px;
    padding-left: 10px;
    box-shadow: 0 0 2px #a3a3a3 inset;
}
.button {
    font-size: 15px;
    width: 67px;
    height: 26px;
    border-radius: 3px;
    border: 1px solid #a3a3a3;
    box-shadow: 0 0 1px #a3a3a3;
    background: #ffffff linear-gradient(to bottom, #ffffff 0%, #d6d6d6 100%);
}
.button:hover {
    cursor: pointer;
    background: #ffffff linear-gradient(to top, #ffffff 0%, #d6d6d6 100%);
}
.button:active {
    box-shadow: 0 0 2px #a3a3a3 inset;
}
.search::after {
    content: "";
    border-style: solid;
    border-color: #fff transparent #fff transparent;
    border-width: 28px 0 28px 15px;
    position: absolute;
    top: 0;
    right: 0;
}
.ch_label{
    margin-top: 8px;
    vertical-align: top;
}
.search_checkbox {
    margin-top: 4px;
    margin-left: 4px;
}